@model EntityLayer.Concrete.User
@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Yetkili Düzenleme</h3>
    </div>
    @using (Html.BeginForm("EditUser", "User", FormMethod.Post))
    {
        <div class="card-body">
            <div class="col-12">
                <div class="form-group">
                    <div class="form-group">
                        <label>Ünvan</label>
                        @Html.DropDownListFor(x => x.TitleID, (List<SelectListItem>)ViewBag.list, new { @class = "form-control text-white" })
                    </div>
                    <div class="form-group">
                        <label>Kullanıcı Adı</label>
                        @Html.HiddenFor(x => x.UserID)
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control text-white", required = "required" })
                    </div>
                    <div class="form-group">
                        <label>Ad ve Soyad</label>
                        @Html.TextBoxFor(x => x.UserFullName, new { @class = "form-control text-white", required = "required" })
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control text-white", required = "required" })
                    </div>
                    <div class="form-group">
                        <label>Şifre</label>
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control text-white", required = "required" })
                    </div>
                </div>
                <button class="btn btn-info float-right"><i class="fas fa-save"></i> Kaydet</button>
            </div>
        </div>
        <br />
    }
</div>

